.form-container{
    width: 30px;
    margin: auto;
    border: 1px solid black;
    background-color: blueviolet;
}
.form-group{
    margin: 1px;
}
.label{
    display: block;
    font-weight: bold;
}
.input{
    width: 1px;
    padding: 1px;
    border-radius: 1px;
}
button{
    background-color: orange;

}
h1{
    text-align: center;
}